@model CSM.Form100.ViewModels.EmployeePartViewModel

<h2>Employee Details</h2>

<fieldset>
    @Html.LabelFor(m => m.FirstName, T("First name"))
    @Html.TextBoxFor(m => m.FirstName, new { @class = "text medium" })
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.LastName, T("Last name"))
    @Html.TextBoxFor(m => m.LastName, new { @class = "text medium" })
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.EmployeeId, T("Employee ID"))
    @Html.TextBoxFor(m => m.EmployeeId, new { @class = "text medium" })
</fieldset>

@Html.EditorFor(m => m.CurrentJobStep)

@if (Model.NeedsPriorJobStepEditor)
{
    @Html.EditorFor(m => m.PriorJobStep)
}