@model CSM.Form100.ViewModels.ReviewPartViewModel

@{ 
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Style.Include("reviewPartEdit.css");
    
    Script.Include("http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js").AtFoot();
    Script.Include("knockout-sortable.min.js").AtFoot();
    Script.Include("reviewPartEdit.js").AtFoot();
}

<div id="pendingReviews">

    <fieldset>
        <legend>
            Pending Reviews
        </legend>

        <span data-bind="visible: reviews().length < 1">No reviewers have been assigned yet</span>

        <table class="pendingReviews items" data-bind="visible: reviews().length > 0">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Approving State</th>
                    <th>Rejecting State</th>
                    <th>Target Review States</th>
                </tr>
            </thead>
            <tbody data-bind="sortable: reviews">
                <tr>
                    <td>
                        <span data-bind="text: $index() + 1"></span>.
                    </td>
                    <td class="buttons">
                        <a class="button primaryAction" href="#" data-bind="click: $parent.editReviewStep">Edit</a>
                        <a class="button primaryAction" href="#" data-bind="click: $parent.removeReviewStep">Remove</a>
                    </td>
                    <td class="name">
                        <span data-bind="text: ReviewerName"></span>
                    </td>
                    <td class="approving">
                        <span data-bind="text: ApprovingState"></span>
                    </td>
                    <td class="rejecting">
                        <span data-bind="text: RejectingState"></span>
                    </td>
                    <td class="valid">
                        [<span data-bind="text: TargetStates"></span>]
                    </td>
                </tr>
            </tbody>
        </table>

    </fieldset>

    <fieldset>
        <label>New Review Step</label>
        <input type="text" class="text" data-bind="value: name, valueUpdate: 'afterkeydown'" placeholder="First Last" />
        <input type="text" class="text" data-bind="value: email, valueUpdate: 'afterkeydown'" placeholder="email@example.com" />
        <label>Approving: </label>
        <select data-bind="options: availableStates, value: approvingState"></select>
        <br />
        <label>Rejecting: </label>
        <select data-bind="options: availableStates, value: rejectingState"></select>
        <label>Targets:</label>
        <ul data-bind="foreach: availableStates">
            <li>
                <input type="checkbox" data-bind="checked: $parent.targetStates, checkedValue: $data" />
                <span data-bind="text: $data"></span>
            </li>
        </ul>
        <a class="button primaryAction" href="#" data-bind="click: addReviewStep">Add</a>
</fieldset>

    <fieldset>
        <label>Raw Data</label>
        <span data-bind="text: reviewsJSON"></span>
        @Html.HiddenFor(m => m.PendingReviewsData, new { data_bind = "value: reviewsJSON" })
    </fieldset>

    <fieldset>
        @Html.LabelFor(m => m.State, T("State"))
        @Html.TextBoxFor(m => m.State, new { disabled = "true" })
    </fieldset>
</div>

<div id="reviewHistory">
    <fieldset>
        <legend>Review History</legend>

        <span data-bind="visible: reviews().length < 1">No reviews have taken place yet.</span>

        <table class="reviewHistory items" data-bind="visible: reviews().length > 0">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Review Date</th>
                    <th>Review Decision</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: reviews">
                <tr>
                    <td>
                        <span data-bind="text: $index() + 1"></span>.
                    </td>
                    <td>
                        <span data-bind="text: ReviewerName"></span>
                    </td>
                    <td>
                        <span data-bind="text: ReviewDate"></span>
                    </td>
                    <td>
                        <span data-bind="text: ReviewDecision"></span>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </fieldset>

    <fieldset>
        <label>Raw Data</label>
        <span data-bind="text: reviewsJSON"></span>
        @Html.HiddenFor(m => m.ReviewHistoryData, new { data_bind = "value: reviewsJSON" })
    </fieldset>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        var regx = /&quot;/g,
            replace = '"',
            defaultState = '@Model.DefaultState',
            pendingReviews = JSON.parse('@Model.PendingReviewsData'.replace(regx, replace)),
            reviewHistory = JSON.parse('@Model.ReviewHistoryData'.replace(regx, replace)),
            availableStates = JSON.parse('@Model.AvailableStates'.replace(regx, replace)),
            pendingViewModel = new reviewsViewModel(pendingReviews, availableStates, defaultState),
            historyViewModel = new reviewsViewModel(reviewHistory, availableStates, defaultState);

        ko.applyBindings(pendingViewModel, document.getElementById("pendingReviews"));
        ko.applyBindings(historyViewModel, document.getElementById("reviewHistory"));
    </script>
}
